.main {
    
    
    padding-top: 10px;
    left: 0;
    top: 71;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .navbar
  {
      background-color: black;
      font-style: italic;
      
  }
  .navbar a{
      font-size: 30px;
  }
  .form-group { 
    position:relative;
    padding:0;
    margin:0;
}
  .form {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    
    border: 1px solid #888;
    height: 530px;
    width: 350px;
    border-radius:5px;
  }

.form-fields
{
    border:none;
    border-bottom:1px solid black;
    background:transparent;
    outline:none;
    height:40px;
    width:100%;
    color:black;
    font-size:16px;
    opacity:1;
    margin:0;
    padding-left:50px;
    font-style: italic;
}
.input_img {
    position:absolute;
    bottom:5px;
    left:5px;
    width:30px;
    height:30px;
}
.signup-btn
{
    background-color: black;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-style: italic;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-style: italic;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 200px;
    color:white;
  }
  .footer
  {
      background-color: black;
      color:white;
      font-style: italic;
      text-align: center;
  }
  
  

